In [ ]:
import requests
import pandas as pd
import json

# Collecting real time movie data from TMDB using API

In [ ]:
api_key="05cf3c7ce5d988b68d223a58e59d578c"

fetching movie id's

In [ ]:
#link for json viewer-->
#https://api.themoviedb.org/3/movie/top_rated?api_key=05cf3c7ce5d988b68d223a58e59d578c&language=en-US&page=1

movie_id_list=[]
for i in range(1,501):
    url="https://api.themoviedb.org/3/movie/top_rated?api_key=05cf3c7ce5d988b68d223a58e59d578c&language=en-US&page={}".format(i)
    response=requests.get(url).json()['results']
    for j in response:
        id= j.get('id')
        movie_id_list.append(id)

In [ ]:
len(movie_id_list)

10000

Fetching movies data as a list of dictionaries

In [ ]:
#link for json viewer-->
#https://api.themoviedb.org/3/movie/278?api_key=05cf3c7ce5d988b68d223a58e59d578c&language=en-US

movies_list=[]
for i in movie_id_list:
     url1="https://api.themoviedb.org/3/movie/{}?api_key=05cf3c7ce5d988b68d223a58e59d578c&language=en-US".format(i)
     response1=requests.get(url1).json()
     movies_list.append(response1)

fetching movies credit data as a list of dictcionaries

In [ ]:
#link for json viewer-->
#https://api.themoviedb.org/3/movie/278/credits?api_key=05cf3c7ce5d988b68d223a58e59d578c&language=en-US

movie_credit_list=[]
for i in movie_id_list:
     url2="https://api.themoviedb.org/3/movie/{}/credits?api_key=05cf3c7ce5d988b68d223a58e59d578c&language=en-US".format(i)
     response2=requests.get(url2).json()
     movie_credit_list.append(response2)

# storing the movies and credit data to MONGODB

In [ ]:
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 7.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
#to get your ip address:http://httpbin.org/ip
#add ip address 0.0.0.0/0 to network access in mongodb
import pymongo
client = pymongo.MongoClient("mongodb+srv://movie:movie@cluster0.howxo2f.mongodb.net/?retryWrites=true&w=majority",tls=True,tlsAllowInvalidCertificates=True)
db = client.test
print(db)

Database(MongoClient(host=['ac-po2xfaa-shard-00-00.howxo2f.mongodb.net:27017', 'ac-po2xfaa-shard-00-02.howxo2f.mongodb.net:27017', 'ac-po2xfaa-shard-00-01.howxo2f.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-i0a94p-shard-0', tls=True, tlsallowinvalidcertificates=True, tlsdisableocspendpointcheck=True), 'test')

In [ ]:
#creating a databased named "movies_dataset"
db=client['movies_dataset']

In [ ]:
#creating a colection named "movies_collection"
movies_collection = db['movies_data']

In [ ]:
#storing data inside movies_collection
movies_collection.insert_many(movies_list)

In [ ]:
#creating a colection named "credit_collection"
credit_collection = db['movies_credit_data']

In [ ]:
#storing data inside credit_collection
credit_collection.insert_many(movie_credit_list)

In [ ]:
client.close()

# fetching data from mongodb as pandas dataframe

In [164]:
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [165]:
import pandas as pd

In [166]:
#to get your ip address:http://httpbin.org/ip
#add ip address 0.0.0.0/0 to network access in mongodb

import pymongo
client = pymongo.MongoClient("mongodb+srv://movie:movie@cluster0.howxo2f.mongodb.net/?retryWrites=true&w=majority",tls=True,tlsAllowInvalidCertificates=True)

In [167]:
#enter database name
db = client['movies_dataset']

In [168]:
#enter collection name
movies_collection=db['movies_data']

In [169]:
#getting as pandas dataframe
movies=pd.DataFrame(movies_collection.find())
movies.head(1)

,_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,6311ba911d612f97717cdf05,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,None,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,278,tt0111161,en,...,1994-09-23,28341469,142,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.724,22110

In [170]:
#enter colection name
credit_collection=db['movies_credit_data']

In [171]:
#getting as pandas dataframe
credits=pd.DataFrame(credit_collection.find())
credits.head(1)

,_id,id,cast,crew
0,6311bc291d612f97717d0615,278,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."

# Movie-Recommender-System

Preparing data for the model

In [172]:
movies.shape

(10000, 26)

In [173]:
credits.shape

(10000, 4)

In [174]:
movies = movies.merge(credits,on='id')

In [175]:
movies.head()

,_id_x,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,_id_y,cast,crew
0,6311ba911d612f97717cdf05,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,None,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,278,tt0111161,en,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.724,22110,6311bc291d612f97717d0615,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
1,6311ba911d612f97717cdf06,False,/5hNcsnMkwU2LknLoru73c76el3z.jpg,None,13200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,19404,tt0112870,hi,...,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,"Come Fall In love, All Over Again..",Dilwale Dulhania Le Jayenge,False,8.720,3787,6311bc291d612f97717d0616,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
2,6311ba911d612f97717cdf07,False,/htuuuEwAvDVECMpb0ltLLyZyDDt.jpg,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,An offer you can't refuse.,The Godfather,False,8.708,16447,6311bc291d612f97717d0617,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,6311ba911d612f97717cdf08,False,/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg,None,22000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.schindlerslist.com/,424,tt0108052,en,...,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,"Whoever saves one life, saves the world entire.",Schindler's List,False,8.617,13093,6311bc291d612f97717d0618,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
4,6311ba911d612f97717cdf09,False,/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg,"{'id': 230, 'name': 'The Godfather Collection'...",13000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,240,tt0071562,en,...,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"I don't feel I have to wipe everybody out, Tom...",The Godfather Part II,False,8.593,9922,6311bc291d612f97717d0619,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [176]:
movies.columns.values

array(['_id_x', 'adult', 'backdrop_path', 'belongs_to_collection',
       'budget', 'genres', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count', '_id_y',
       'cast', 'crew'], dtype=object)

In [177]:
#collecting the following columns
#id
#title
#overview
#genres
#cast
#crew

In [178]:
movies = movies[['id','title','overview','genres','cast','crew']]

In [179]:
movies.head()

,id,title,overview,genres,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [180]:
movies.isnull().sum()

id          0
title       0
overview    0
genres      0
cast        0
crew        0
dtype: int64

In [181]:
movies.iloc[0].genres

[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}]

In [182]:
#changing list type to string type
movies = movies.astype({'genres':'string'})

In [183]:
movies.iloc[0].genres

"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}]"

In [184]:
import ast

In [185]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [186]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,id,title,overview,genres,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]","[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [187]:
movies['cast'][0][0]

{'adult': False,
 'gender': 2,
 'id': 504,
 'known_for_department': 'Acting',
 'name': 'Tim Robbins',
 'original_name': 'Tim Robbins',
 'popularity': 27.213,
 'profile_path': '/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg',
 'cast_id': 3,
 'character': 'Andy Dufresne',
 'credit_id': '52fe4231c3a36847f800b131',
 'order': 0}

In [188]:
movies['cast'][0][1]

{'adult': False,
 'gender': 2,
 'id': 192,
 'known_for_department': 'Acting',
 'name': 'Morgan Freeman',
 'original_name': 'Morgan Freeman',
 'popularity': 72.071,
 'profile_path': '/905k0RFzH0Kd6gx8oSxRdnr6FL.jpg',
 'cast_id': 4,
 'character': "Ellis Boyd 'Red' Redding",
 'credit_id': '52fe4231c3a36847f800b135',
 'order': 1}

In [189]:
type(movies['cast'][0])

list

In [190]:
#changing to string
movies = movies.astype({'cast':'string'})

In [191]:
type(movies['cast'][0])

str

In [192]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,id,title,overview,genres,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]","[Shah Rukh Khan, Kajol, Amrish Puri, Anupam Kh...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[Marlon Brando, Al Pacino, James Caan, Robert ...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[Liam Neeson, Ben Kingsley, Ralph Fiennes, Car...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[Al Pacino, Robert Duvall, Diane Keaton, Rober...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."

In [193]:
movies['crew']

0       [{'adult': False, 'gender': 2, 'id': 153, 'kno...
1       [{'adult': False, 'gender': 1, 'id': 8311, 'kn...
2       [{'adult': False, 'gender': 2, 'id': 154, 'kno...
3       [{'adult': False, 'gender': 2, 'id': 491, 'kno...
4       [{'adult': False, 'gender': 2, 'id': 154, 'kno...
                              ...
9995    [{'adult': False, 'gender': 1, 'id': 4023, 'kn...
9996    [{'adult': False, 'gender': 2, 'id': 673, 'kno...
9997    [{'adult': False, 'gender': 2, 'id': 1999, 'kn...
9998    [{'adult': False, 'gender': 0, 'id': 971, 'kno...
9999    [{'adult': False, 'gender': 2, 'id': 14999, 'k...
Name: crew, Length: 10000, dtype: object

In [194]:
movies['crew'][0][0]

{'adult': False,
 'gender': 2,
 'id': 153,
 'known_for_department': 'Sound',
 'name': 'Thomas Newman',
 'original_name': 'Thomas Newman',
 'popularity': 5.229,
 'profile_path': '/j8rIiOSdBjtDL5vji8m5BtChZou.jpg',
 'credit_id': '52fe4231c3a36847f800b153',
 'department': 'Sound',
 'job': 'Original Music Composer'}

In [195]:
movies['crew'][0][1]

{'adult': False,
 'gender': 2,
 'id': 153,
 'known_for_department': 'Sound',
 'name': 'Thomas Newman',
 'original_name': 'Thomas Newman',
 'popularity': 5.229,
 'profile_path': '/j8rIiOSdBjtDL5vji8m5BtChZou.jpg',
 'credit_id': '5c7c6ad80e0a2632130dbe86',
 'department': 'Sound',
 'job': 'Conductor'}

In [196]:
type(movies['crew'][0])

list

In [197]:
#changing to string
movies = movies.astype({'crew':'string'})

type(movies['crew'][0])

str

In [198]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [199]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [200]:
# getting first 3 actors from cast
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])
movies.head()

,id,title,overview,genres,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[Tim Robbins, Morgan Freeman, Bob Gunton]",[Frank Darabont]
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]","[Shah Rukh Khan, Kajol, Amrish Puri]",[Aditya Chopra]
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[Marlon Brando, Al Pacino, James Caan]",[Francis Ford Coppola]
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[Liam Neeson, Ben Kingsley, Ralph Fiennes]",[Steven Spielberg]
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[Al Pacino, Robert Duvall, Diane Keaton]",[Francis Ford Coppola]

In [201]:
#removing space
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [202]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)

In [203]:
movies.head()

,id,title,overview,genres,cast,crew
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont]
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]","[ShahRukhKhan, Kajol, AmrishPuri]",[AdityaChopra]
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola]
3,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[LiamNeeson, BenKingsley, RalphFiennes]",[StevenSpielberg]
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[AlPacino, RobertDuvall, DianeKeaton]",[FrancisFordCoppola]

In [204]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [205]:
movies.head()

,id,title,overview,genres,cast,crew
0,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur...","[Drama, Crime]","[TimRobbins, MorganFreeman, BobGunton]",[FrankDarabont]
1,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,...","[Comedy, Drama, Romance]","[ShahRukhKhan, Kajol, AmrishPuri]",[AdityaChopra]
2,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr...","[Drama, Crime]","[MarlonBrando, AlPacino, JamesCaan]",[FrancisFordCoppola]
3,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar...","[Drama, History, War]","[LiamNeeson, BenKingsley, RalphFiennes]",[StevenSpielberg]
4,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,...","[Drama, Crime]","[AlPacino, RobertDuvall, DianeKeaton]",[FrancisFordCoppola]

In [207]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['cast'] + movies['crew']

In [209]:
new = movies.drop(columns=['overview','genres','cast','crew'])
new.head()

,id,title,tags
0,278,The Shawshank Redemption,"[Framed, in, the, 1940s, for, the, double, mur..."
1,19404,Dilwale Dulhania Le Jayenge,"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
2,238,The Godfather,"[Spanning, the, years, 1945, to, 1955,, a, chr..."
3,424,Schindler's List,"[The, true, story, of, how, businessman, Oskar..."
4,240,The Godfather Part II,"[In, the, continuing, saga, of, the, Corleone,..."

In [210]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather Part II,In the continuing saga of the Corleone crime f...

# Applying alogorithms

In [228]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [229]:
vector = cv.fit_transform(new['tags']).toarray()

In [230]:
vector.shape

(10000, 5000)

In [231]:
from sklearn.metrics.pairwise import cosine_similarity

In [232]:
similarity = cosine_similarity(vector)

In [233]:
similarity

array([[1.        , 0.06160411, 0.13730876, ..., 0.        , 0.04159452,
        0.        ],
       [0.06160411, 1.        , 0.0862796 , ..., 0.07332356, 0.04356068,
        0.03919309],
       [0.13730876, 0.0862796 , 1.        , ..., 0.06537205, 0.11651035,
        0.        ],
       ...,
       [0.        , 0.07332356, 0.06537205, ..., 1.        , 0.        ,
        0.04454354],
       [0.04159452, 0.04356068, 0.11651035, ..., 0.        , 1.        ,
        0.10585122],
       [0.        , 0.03919309, 0.        , ..., 0.04454354, 0.10585122,
        1.        ]])

In [234]:
new[new['title'] == 'The Lego Movie'].index[0]

1671

In [235]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [242]:
recommend('The Godfather')

The Godfather Part II
Bomb City
Joker
Blood Ties
The Big Heat

In [237]:
import pickle

In [239]:
pickle.dump(new.to_dict,open('movie_dict.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [241]:
#heroku link for deployed app
#https://major-movie-project01.herokuapp.com/